body    {
        font-family: 'PT Sans', sans-serif;
        font-size: 17px;
        color: #000;
        background: #fff;
}
a       {
        color: #004B6B;
}
a:hover {
        color: #6D4100;
}
.box    {
        width: 1160px;
        margin: 40px auto;
}
.logo   {
        position: fixed;
}
.logo a {
        display: block;
        width: 365px;
        height: 118px;
        background: url(/static/logo.png) no-repeat left top;
}
.logo a span {
        display: none;
}
h2           {
        font-size: 30px;
        margin: 15px 0 5px 0;
}
h3           {
        font-size: 24px;
        margin: 15px 0 5px 0;
}
h4           {
        font-size: 19px;
        margin: 15px 0 5px 0;
}
div.tables   {
        display: flex;
}
table.dataframe {
        border: none;
        margin: 0 auto;
        box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
        flex: 1;
}
.tables h2   {
        font-size: 19px;
        text-align: center;
        color: hsl(0, 0%, 17%);
        font-weight: 600;
        flex: 1;
}
.dataframe th,
.dataframe td {
        border: none;
        border-collapse: collapse;
        text-align:left;
        padding: 10px;
        margin-bottom: 40px;
        font-size: 0.9em;
}
.dataframe thead th {
        background-color: #114358;
        color: hsla(0, 0%, 100%, 0.9);
        font-weight: 500;
}
tr:nth-child(odd) {
        background-color: #eee;
}
tr:nth-child(even){
        background-color: #fff;
}
tr:hover          {
        background-color: #98B2C1;
}
p            {
        line-height: 1.4;
}
blockquote   {
        background: hsl(0, 0%, 98%);
        border-bottom: 2.75px solid hsl(198,68%,40%);
        margin: 0;
        font-style: italic;
        color: hsl(0, 0%, 20%);
        font-weight: 575;
}
.footer      {
        font-size: 13px;
        color: #888;
        text-align: right;
        margin-top: 25px;
}

.graphs      {
        border-top: 6px solid #716DF9;
}
.graphs h2   {
        font-size: 19px;
        margin: 15px 0 0 0;
        text-align: center;
        color: hsl(0, 0%, 17%);
        font-weight: 600;
}
.graphs p    {
        text-align: center;
        color: hsl(0, 0%, 40%);
        font-style: italic;
        font-weight: 400;
}
div.graphs > h3 > img {
        max-width: 580px;
        height: auto;
        display: block;
        margin: 0 auto;
        border-bottom: 4px solid #716DF9;
}
.dataframe th {
        color: hsl(0, 0%, 17%);
        font-weight: 600;
}
hr           {
        width: 66%;
        margin: 60px auto;
        text-align: center;
        border: 0;
        border-top: 1.3px solid hsl(0, 0%, 88%);
}
div.tweets {
        display: flex;
        width: 100%;
        margin: 10px auto;
        border-bottom: 4px solid hsl(198,68%,40%);
}
.twitter-tweet  {
        flex: 1;
        padding: 1em;
        margin: 10px 10px;
}
