<!DOCTYPE html>
{% block head %}
<meta charset=utf-8>
<title>{% block title %}Welcome{% endblock %} to Coinflask - a Coinmarkets Watcher</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<h1 id="logo">
    <a href=""><span>Coinflask</span></a>
</h1>
{% endblock %}
<div class=box>
    {% block body_title %}

    {% endblock %}
    {% block body %}{% endblock %}
    <p class=footer>
        &copy; Copyright 2018 - {{ current_year }} by <a href=https://github.com/Mataz>Thomas Mahieux</a>
</div>
